<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<!-- <bean id="teacher" class="com.zhongguo.springmvc01.controller.util.Teacher" 
		/> -->

	<!-- <bean id="teacher1" class="com.zhongguo.springmvc01.controller.util.TecherFactory" 
		factory-method="creatTeacher" /> -->
<!-- 	<bean id="teacherFactory2"
		class="com.zhongguo.springmvc01.controller.util.TeacherFactory2" />
	<bean id="teacher2" factory-bean="teacherFactory2"
		factory-method="createTeacher2" /> -->
		<bean id="teacher01" class = "com.zhongguo.springmvc01.controller.util.Teacher">
			<constructor-arg name = "name" value="laoliu" />
			<constructor-arg name = "age" value="22" />
		</bean>
		
				<bean id="teacher02" class = "com.zhongguo.springmvc01.controller.util.Teacher">
			<constructor-arg index="0" value="laoliu02" />
			<constructor-arg index="1" value="23" />
		</bean>
		
	<bean id="stu"
		class="com.zhongguo.springmvc01.controller.util.Student">
		<property name="name" value="小张"/>
		<property name="age" value="16"/>
		<property name="teacher" ref="teacher01" />
		</bean>

</beans>