<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee http://www.springmodules.org/schema/cache/springmodules-cache.xsd http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<!-- 配置编码方式过滤器,注意一点:要配置在所有过滤器的前面 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 配置编码过滤 -->
	<filter>
		<filter-name>EncoidingFilter</filter-name>
		<filter-class>com.zhongguo.springmvc01.controller.util.EncoidingFilter</filter-class>

		<init-param>
			<param-name>Encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>EncoidingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<!--名称 -->
		<servlet-name>springmvc</servlet-name>
		<!-- Servlet类 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<!-- 启动顺序，数字越小，启动越早 -->
		<load-on-startup>1</load-on-startup>
		<init-param>
			<!--SpringMVC配置参数文件的位置 -->
			<param-name>contextConfigLocation</param-name>
			<!--默认名称为ServletName-servlet.xml -->
			<param-value>classpath*:springmvc-servlet.xml</param-value>
		</init-param>
	</servlet>

	<!--所有请求都会被springmvc拦截 -->
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>